
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="https://appseed.us/admin-dashboards/django-dashboard-dattaable" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Django Datta Able</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        
                        <a href="javascript:" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-box"></i>
                            </span>
                            <span class="pcoded-mtext">Manage Product</span>
                        </a>
                        
                        <ul class="pcoded-submenu">
    
                            <li class=""><a href="/product_display", class="">My Product</a></li>
                            <li class=""><a href="/product_form" class="">Add inventory</a></li>
                            <li class=""><a href="/ui-breadcrumb-pagination.html" class="">Upadate Inventroy</a></li>
                            <li class=""><a href="/ui-collapse.html" class="">Delete Product</a></li>
                            <li class=""><a href="/ui-tabs.html" class="">Inventory</a></li>
    
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li data-username="Social handles to link their accounts" 
                        class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                        <a href="/user_profile" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">User Profile</span></a>
                    </li>
                   
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                        <ul class="pcoded-submenu">
                         
                            <li class=""><a href="/login" class="">Login(template)</a></li>
                            <li class=""><a href="/register" class="">Register (template)</a></li>
                        </ul>
                    </li>
                   
                    

                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
